# values for argo/argocd-apps
applications:  
  galaxia:                      # <-- key becomes metadata.name
    namespace: argocd
    project: default
    sources:
      - repoURL: https://github.com/KingRiq/CoreApplications.git
        targetRevision: main
        path: gitops
        directory:
          recurse: true
    destination:
      server: https://kubernetes.default.svc
      namespace: media-stack
    syncPolicy:
    #add more args here as things stabilize
      automated:
        prune: true
      syncOptions:
        - CreateNamespace=true