apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: galaxia
  namespace: argocd
spec:
  destination:
    namespace: cluster-utils
    server: https://kubernetes.default.svc
  project: default
  source:
    directory:
      recurse: true
    path: gitops
    repoURL: https://github.com/KingRiq/CoreApplications.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false   
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true                
      - ApplyOutOfSyncOnly=true      
      - PrunePropagationPolicy=foreground  