[defaults]
host_key_checking = False
vault_password_file = /etc/ansible/password.txt
interpreter_python = /usr/bin/python3
collections_path = ./collections
force_handlers = True
any_errors_fatal = True