# values.yaml for Immich Helm Chart

controllers:
  main:
    containers:
      main:
        image:
          tag: release
        env:
          REDIS_HOSTNAME: immich-valkey
          # REDIS_HOST: immich-valkey
          REDIS_PORT: 6379
          IMMICH_MACHINE_LEARNING_URL: http://ml.chaoscauldron.space
          DB_HOSTNAME: immich-postgresql.immich.svc.cluster.local
          DB_PORT: 5432
          UPLOAD_LOCATION: /data/immich-data
        envFrom:
          - secretRef:
              name: immich-secrets
        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: 1000m
            memory: 1Gi

immich:
  persistence:
    library:
      enabled: true
      existingClaim: immich-library
      globalMounts:
        - path: /usr/src/app/upload
  
externalDatabase:
  enabled: true
  host: immich-postgresql.immich.svc.cluster.local
  port: 5432
  existingSecret: generic_secrets


valkey:
  enabled: true
  controllers:
    main:
      containers:
        main:
            image:
              repository: docker.io/valkey/valkey
              tag: 8.1-alpine
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                cpu: 300m
                memory: 256Mi
  persistence:
    data:
      enabled: false

machine-learning:
  enabled: true
  controllers:
    main: 
      containers:
        main:
          resources:
            requests: 
              cpu: 250m
              memory: 500Mi
            limits:
              cpu: "800m"
              memory: 1Gi          
  service:
    main:
      enabled: true
      type: LoadBalancer
      loadBalancerIP: 192.168.0.240
      ports:
        http:
          enabled: true
          port: 80
          targetPort: 3003
          protocol: TCP
  env:
    TRANSFORMERS_CACHE: /cache
  persistence:
    cache:
      enabled: true
      size: 10Gi
      existingClaim: machine-learning

global:
  security:
    allowInsecureImages: true



server:
  enabled: true
  image:
    repository: ghcr.io/immich-app/immich-server
    tag: release
    pullPolicy: IfNotPresent
  service:
    main:
      enabled: true
      primary: true
      type: LoadBalancer
      loadBalancerIP: 192.168.0.223  # from your MetalLB pool
      ports:
        http:
          enabled: true
          primary: true
          port: 2283
          protocol: HTTP
        metrics-api:
          enabled: false
          port: 8081
          protocol: HTTP
        metrics-ms:
          enabled: false
          port: 8082
          protocol: HTTP