---
- name: Copy {{ service }} Virtual Service from template directory
  template:
    src: template-vs.yml.j2
    dest: /tmp/{{ service }}-vs.yml
  delegate_to: "{{ item }}"
  loop:
   - 'control-plane'
   - 'localhost'

- name: Apply {{ service }} VirtualService
  delegate_to: control-plane
  become: true
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('template', 'template-vs.yml.j2') }}"
