---

# - name: Gather service facts
#   ansible.builtin.service_facts:

# - name: Debug service facts
#   debug:
#     var: ansible_facts.services


- name: Unmount all NFS and CIFS mounts
  become: true
  shell: |
    umount -a -t nfs,cifs,smbfs -f -l

- name: KILLEMALL!!
  become: true
  script: "{{ role_path }}/files/killemall.sh"

- name: Run uninstall script (if exists)
  command: /usr/bin/rke2-uninstall.sh
  register: uninstall_result
  failed_when: false
  ignore_errors: true
  #incase it wasn't installed properly

- name: Kill processes holding on to kubelet dir
  shell: "fuser -k /var/lib/kubelet || true"

- name: Remove known RKE2 files and directories
  file:
    path: "{{ item }}"
    state: absent
  loop: "{{ rke2_cleanup_paths }}"

- include_role: 
    name: firewall
  vars:
    firewall_ports: "{{ rke_ports }}"

- name: Verify that all ports are closed
  command: firewall-cmd --list-ports
  register: remaining_ports
  changed_when: false

- name: Show remaining open ports (if any)
  debug:
    msg: "Remaining open ports: {{ remaining_ports.stdout }}"
  when: remaining_ports.stdout | length > 0

