apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ item.pvc_name }}"
  namespace: "{{ namespace }}"
  labels:
    dir: "{{ item.pvc_name }}"
spec:
  accessModes:
    - "{{ 'ReadWriteMany' if item.multi_node_access else 'ReadWriteOnce' }}"
  resources:
    requests:
      storage: "{{ item.storage }}"        # e.g. "20Gi"
  storageClassName: "{{ item.storage_class }}"
