# - include_role:
#     name: kube_secrets
#   vars:
#     secret_namespace: immich
#     secret_name: immich-secrets
#     secret_data: "{{ immich_secrets }}"

- include_role:
    name: kube_namespaces
  vars: 
    namespace: cattle-system

- name: Add Rancher to Helm repo
  command: helm repo add rancher-stable https://releases.rancher.com/server-charts/stable

- name: Copy Rancher rancher-service.yml from template directory
  template:
    src: rancher-service.yml
    dest: /tmp/rancher-service.yml

- name: Apply Rancher-service used to access rancher UI
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/rke2/rke2.yaml
    state: present
    src: /tmp/rancher-service.yml

# Put values on manager node for quick testing and rollingforward strats
- name: Copy Rancher values.yaml from template directory
  template:
    src: values.yml
    dest: /tmp/rancher-values.yml
    
- name: Install/upgrade Rancher (latest) via Helm repo
  become: true
  environment:
    KUBECONFIG: /etc/rancher/rke2/rke2.yaml
  kubernetes.core.helm:
    name: rancher
    chart_ref: rancher-stable/rancher
    # IMPORTANT: omit version => always installs newest available
    chart_version: "{{ rancher_version | default(omit) }}"
    release_namespace: cattle-system
    create_namespace: true
    wait: true
    atomic: true
    force: true
    values_files:
      - /tmp/rancher-values.yml

- include_role:
    name: istio-vs

