- name: Copy pvc from template directory
  template:
    src: template-pvc.yaml.j2
    dest: /tmp/{{ item.pvc_name }}-pvc.yml
  delegate_to: control-plane
  loop:
    "{{ pvc_list }}"

- name: Copy pvc from template directory
  template:
    src: template-pvc.yaml.j2
    dest: /tmp/{{ item.pvc_name }}-pvc.yml
  delegate_to: localhost
  loop:
    "{{ pvc_list }}"


- name: Create PersistentVolumeClaim (PVC)
  environment: "{{kube_env}}"
  k8s:
    state: present
    src: /tmp/{{item.pvc_name }}-pvc.yml
  loop:
    "{{ pvc_list }}"