# {{ ansible_managed | default('Managed by Ansible') }}
# Passwordless sudo for admin users/groups

{% if sudo_nopasswd_users is defined %}
{% for user in sudo_nopasswd_users %}
{{ user }} ALL=(ALL) NOPASSWD: ALL
{% endfor %}
{% endif %}

{% if sudo_nopasswd_groups is defined %}
{% for group in sudo_nopasswd_groups %}
%{{ group }} ALL=(ALL) NOPASSWD: ALL
{% endfor %}
{% endif %}