apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ secret_namespace | default('default') }}
type: {{ secret_type | default('Opaque') }}
stringData:
{% for key, value in secret_data.items() %}
  {{ key }}: "{{ value }}"
{% endfor %}