--- 
- include_role:
    name: kube_namespaces
  vars:
    namespace: "{{ nfs_namespace }}"

- name: Copy Service Account  from template directory
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  delegate_to: "{{ item.host }}"
  loop:
    - { src: 'nfs-provisioner-deploy.yaml.j2', dest: '/tmp/NFS-Provisioner-Deploy.yml', host: 'control-plane'}
    - { src: 'nfs-provisioner-deploy.yaml.j2', dest: '/tmp/NFS-Provisioner-Deploy.yml', host: 'localhost'}
    - { src: 'storageClass.yaml.j2', dest: '/tmp/NFS_Storage_Classes.yml', host: 'control-plane'}
    - { src: 'storageClass.yaml.j2', dest: '/tmp/NFS_Storage_Classes.yml', host: 'localhost'}
    - { src: 'serviceaccount.yaml.j2', dest: '/tmp/Service_Account.yml', host: 'control-plane'}
    - { src: 'serviceaccount.yaml.j2', dest: '/tmp/Service_Account.yml', host: 'localhost'}

- name: Deploy NFS provisioner
  environment: "{{ kube_env }}"
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'nfs-provisioner-deploy.yaml.j2') }}"

- name: Create NFS StorageClass
  environment: "{{ kube_env }}"
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'storageClass.yaml.j2') }}"

- name: Create NFS Service Account
  environment: "{{ kube_env }}"
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'serviceaccount.yaml.j2') }}"




