{% for sc in storage_classes %}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ sc.name }}
provisioner: k8s-sigs.io/{{ nfs_provisioner_name }}
reclaimPolicy: Retain
volumeBindingMode: Immediate
provisioner: {{ nfs_provisioner_name }}
parameters:
  pathPattern: "${.PVC.labels.dir}"
  onDelete: retain            # never delete dirs
  archiveOnDelete: "false"    # never rename dirs
mountOptions:
  - vers=4.1
---
{% endfor %}