
- name: Add Nextcloud Helm repo
  command: helm repo add nextcloud https://nextcloud.github.io/helm/

- name: Update Helm repos
  command: helm repo update

- name: Copy Nextcloud values.yaml from template directory
  template:
    src: values.yml
    dest: /tmp/nextcloud-values.yaml

- include_role:
    name: kube_namespaces
  vars: 
    namespace: "{{ nextcloud_namespace }}"

- include_role:
    name: kube_pvcs
  vars:
    namespace: "{{ nextcloud_namespace }}"
    pvc_list:
      - pvc_name: nextcloud-data
        storage: 1Ti
        storage_class: nfs-rwx
        multi_node_access: true
      - pvc_name: nextcloud-mariadb
        storage: 20Gi
        storage_class: nfs-rwo
        multi_node_access: false

- include_role:
    name: kube_secrets
  vars:
    secret_namespace: "{{ nextcloud_namespace }}"
    secret_name: nextcloud-secrets
    secret_data: "{{ nextcloud_secrets }}"
    
- name: Scale down Nextcloud deployment to 0 replicas
  kubernetes.core.k8s_scale:
    api_version: apps/v1
    kind: Deployment
    namespace: "{{ nextcloud_namespace }}"
    name: nextcloud
    replicas: 0
    kubeconfig: /etc/rancher/rke2/rke2.yaml
  ignore_errors: yes

- name: Copy Nextcloud Virtual Service from template directory
  template:
    src: nextcloud-vs.yml
    dest: /tmp/nextcloud-vs.yml
  delegate_to: "{{ item }}"
  loop: 
    - 'manager1'
    - 'localhost'

- name: Deploy Nextcloud with Helm
  command: >
    helm upgrade --install nextcloud nextcloud/nextcloud --namespace "{{ nextcloud_namespace }}" -f /tmp/nextcloud-values.yaml
  environment:
    KUBECONFIG: /etc/rancher/rke2/rke2.yaml

- name: Apply Nextcloud VirtualService
  delegate_to: manager1
  become: true
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('template', 'nextcloud-vs.yml') }}"

# - name: Wait for Nextcloud pod to be ready
#   command: /var/lib/rancher/rke2/bin/kubectl wait --for=condition=ready pod -l app.kubernetes.io/name=nextcloud -n nextcloud --timeout=300s
#   environment:
#     KUBECONFIG: /etc/rancher/rke2/rke2.yaml
